@import url('https://fonts.googleapis.com/css?family=Roboto:400|500');

body {
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
    color: #444;
}

a {
    color: inherit;
    text-decoration: inherit
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    max-width: 800px;
    position: relative;
}

header {
    width: 100%;
    padding: 0 16px;
    padding-top: 32px;
}

header .nav-header {
    width: 100%;
}

header h4 {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: #444444;
    padding: 16px 0;
}

form.modal {
    top: 48px;
    right: -56px;
    z-index: 100;
    padding: 32px;
    display: none;
    background: white;
    position: absolute;
    border-radius: 32px;
    border: 1px solid #E5E5E5;
    box-shadow: 0 0 24px 0 rgba(0,0,0,0.12);
}

form.modal.active {
    display: block;
}

form.modal h3 {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 24px;
}

form.modal input {
    display: block;
    margin-bottom: 16px;
}

header .progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 100%
}

header .progress.done {
    background: red;
}

header h1 {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 4px;
}

header h3 {
    font-weight: 400;
    font-size: 14px;
}

header nav {
    right: 0;
    top: 20px;
    position: absolute;
}

header .messages {
    right: 16px;
    bottom: 16px;
    z-index: 200;
    position: fixed;
    pointer-events: none;
}

.message {
    color: white;
    opacity: 0.8;
    width: 188px;
    font-weight: 500;
    line-height: 1.2;
    padding: 12px 24px;
    margin-bottom: 16px;
    white-space: normal;
}

.message.SHOW_SUCCESS {
    background: #5BFF92;
    color: #444;
}

.message.SHOW_ERROR {
    background: #FF4631;
}

nav div {
    font-size: 17px;
    margin-left: 24px;
    position: relative;
    display: none;
}

nav div span {
    font-size: 12px;
}

nav div.active { display: inline-block; }

.choice {
    width: 304px;
    padding: 12px;
    font-weight: 500;
    background: #4948FF;
    margin-bottom: 16px;
}

.choice {
    border-radius: 16px 16px 8px 8px;
    white-space: normal;
}

.choice:nth-child(2n+1) {
    border-radius: 8px 8px 16px 16px ;
    margin-bottom: 32px;
}

.vote-container .choice {
    border-radius: 16px 16px 8px 8px;
    display: inline-block;
    margin-right: 16px;
    cursor: pointer;
    transition: 0.1s background ease-in-out;
}

.vote-container .choice:hover {
    background: #FEDC2C;
}

.choice span {
    display: block;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 6px;
    letter-spacing: 0.5px;
    color: rgba(255,255,255,0.75);
}

.choice p {
    color: white;
    height: auto;
    display: block;
    font-size: 20px;
    line-height: 1.2;
    min-height: 24px;
}

input {
    height: 48px;
    width: 272px;
    outline: none;
    font-size: 20px;
    padding: 12px 32px;
    border-radius: 24px;
    border: 2px solid #E5E5E5;
}

.choice input {
    padding: 0;
    width: auto;
    border: none;
    color: white;
    height: auto;
    font-size: 20px;
    background: none;
    border-radius: none;
}
.choice input::-webkit-input-placeholder,
.choice input:-ms-input-placeholder,
.choice input::-moz-placeholder,
.choice input:-moz-placeholder,
.choice input::placeholder {
    color: pink;
}

button {
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    padding: 12px 32px;
    background: #5BFF92;
    border-radius: 24px;
}

button.new {
    color: #444;
    display: none;
    background: none;
    border-radius: none;
}

button.new.active { display: inline-block; }

@media only screen and (max-width: 960px) {
    form.modal {
        position: fixed;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        box-shadow: 0 0 0 800px rgba(255,255,255,0.4),
                    0 0 24px 0 rgba(0,0,0,0.12);
    }
}
