@import url('https://fonts.googleapis.com/css?family=Roboto:400|500');

body {
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
    color: #444;
}

a {
    cursor: pointer;
    color: inherit;
    text-decoration: inherit
}

a:hover,
a.active {
    text-decoration: underline;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    max-width: 800px;
    position: relative;
}

header {
    width: 100%;
    padding: 0 16px;
    padding-top: 32px;
}

header .nav-header {
    width: 100%;
    position: relative;
    padding-top: 16px;
}

.nav-header a {
    position: absolute;
    transition: 0.2s opacity ease-in-out,
                0.2s right ease-in-out,
                0.2s left ease-in-out;
    transform: translateY(-50%);
    background: #4948FF;
    padding: 8px 16px;
    border-radius: 16px;
    color: white;
    font-weight: 500;
    top: 50%;
}

.nav-header a:first-child { left: 0; }
.nav-header a:last-child { right: 0; }

.nav-header a:last-child:after,
.nav-header a:first-child:before {
    font-size: 8px;
    position: relative;
    bottom: 2px;
}
.nav-header a:last-child:after { 
    content: " ▶"; 
    margin-left: 8px;
}
    

.nav-header a:first-child:before { 
    content: "◀ "; 
    margin-right: 8px;
}

.nav-header a.hidden:first-child {
    left: -100px;
    opacity: 0;
}

.nav-header a.hidden:last-child {
    right: -100px;
    opacity: 0;
}

.nav-header h4 {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: #444444;
    padding: 16px 0;
}

form.modal {
    top: 48px;
    right: -56px;
    z-index: 100;
    padding: 32px;
    display: none;
    background: white;
    position: absolute;
    border-radius: 32px;
    border: 1px solid #E5E5E5;
    box-shadow: 0 0 24px 0 rgba(0,0,0,0.12);
}

form.modal.active {
    display: block;
}

form.modal h2 {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 24px;
}

form.modal input {
    display: block;
    margin-bottom: 16px;
}

form.modal a {
    display: block;
    margin-top: 16px;
    margin-left: 8px;
}

header .progress {
    position: fixed;
    z-index: 3000;
    background: #5BFF92;
    top: 0;
    left: 0;
    height: 10px;
    width: 100%;
    -webkit-animation: loading 1s infinite;
    animation: loading 1s infinite;
}

header h1 {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 4px;
}

header h3 {
    font-weight: 400;
    font-size: 18px;
}

header nav {
    top: 20px;
    right: 16px;
    position: absolute;
}

header .messages {
    right: 16px;
    bottom: 16px;
    z-index: 200;
    position: fixed;
}

.message {
    color: white;
    opacity: 0.8;
    width: 188px;
    font-weight: 500;
    line-height: 1.2;
    padding: 12px 24px;
    margin-top: 16px;
    white-space: normal;
    position: relative;
    right: 0;
    transition: 0.28s right ease-in-out;
}

.message.hidden {
    right: -300px;
}

.message.SHOW_SUCCESS {
    pointer-events: none;
    background: #5BFF92;
    font-weight: 400;
    color: #111;
}

.message.SHOW_ERROR {
    pointer-events: none;
    background: #FF4631;
}

.message.SHOW_REJECT {
    background: #4948FF;
    opacity: 1;
    text-decoration: underline;
    cursor: pointer;
    color: #white;
    border-radius: 16px;
}

nav div {
    font-size: 17px;
    margin-left: 24px;
    position: relative;
    display: none;
}

nav div span {
    font-size: 12px;
}

nav div.active { display: inline-block; }

.choices, .bracket {
    display: inline-block;
    vertical-align: top;
}

.choices {
    margin-right: 32px;
}

.bracket {
    padding-top: 92px;
}

.match {
    background: white;
}

.match.r1 { margin-left: 0px; }

.match.r2 { margin-left: 64px; }

.match.r3 { margin-left: 128px; }

.match.r4 { margin-left: 196px; }

.choice {
    width: 304px;
    padding: 12px;
    font-weight: 500;
    background: #4948FF;
    margin-bottom: 8px;
}

.match.final .choice:not(.lose) {
    background: #5BFF92;
}

.match.final .choice:not(.lose) {
}

.match.final .choice:not(.lose) p,
.match.final .choice:not(.lose) span {
    color: black;
}


.choice.lose {
    background: #f1f1f1 !important;
}

.match.final .choice p,
.match.final .choice span {
    color: #444;
}

.choice.lose p,
.choice.lose span {
    color: #ccc !important;
}

.choice {
    border-radius: 16px 16px 8px 8px;
    white-space: normal;
}

.choice:nth-last-of-type(2n+1) {
    border-radius: 8px 8px 16px 16px ;
    margin-bottom: 32px;
}

.vote-container .wrapper {
    padding-top: 32px;
    text-align: center;
}

.vote-container .vote {
    display: block;
    margin-bottom: 32px;
}

.vote-container .choice {
    text-align: left;
    margin-bottom: 0;
    display: inline-block;
    cursor: pointer;
    border-radius: 8px 8px 16px 16px ;
    transition: 0.1s background ease-in-out;
}

.vote-container .choice:last-child {
    margin-left: 16px;
}

.vote-container .choice:hover {
    background: #FEDC2C !important;
}

.choice span {
    display: block;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 6px;
    letter-spacing: 0.5px;
    color: rgba(255,255,255,0.75);
}

.choice p {
    color: white;
    height: auto;
    display: block;
    font-size: 20px;
    line-height: 1.2;
    min-height: 24px;
}

input {
    height: 48px;
    width: 272px;
    outline: none;
    font-size: 20px;
    padding: 12px 32px;
    border-radius: 24px;
    border: 2px solid #E5E5E5;
}

.choice input {
    padding: 0;
    width: auto;
    border: none;
    height: auto;
    color: #FEDC2C;
    font-size: 20px;
    background: none;
    border-radius: none;
}
.choice input::-webkit-input-placeholder { 
    color: #FEDC2C !important; }
.choice input:-ms-input-placeholder {
    color: #FEDC2C !important; }
.choice input::-moz-placeholder {
    color: #FEDC2C !important; }
.choice input:-moz-placeholder {
    color: #FEDC2C !important; }
.choice input::placeholder {
    color: #FEDC2C !important; }

button {
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    padding: 12px 32px;
    background: #5BFF92;
    border-radius: 24px;
}

button.new {
    color: #444;
    display: none;
    background: none;
    border-radius: none;
    padding: 0;
    padding-left: 80px;
    margin-bottom: 16px;
}

button.new.active { display: block; }

@-webkit-keyframes loading {
    0% { width: 0; }
    50% { width: 100%; }
    100% { width: 0; }
}

@keyframes loading {
    0% { width: 0; }
    50% { width: 100%; }
    100% { width: 0; }
}

@media only screen and (max-width: 960px) {
    form.modal {
        position: fixed;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        box-shadow: 0 0 0 800px rgba(255,255,255,0.4),
                    0 0 24px 0 rgba(0,0,0,0.12);
    }
}
